body {
  font-family: sans-serif;
  line-height: 1.8;
  margin: 0;
  background-color: #a0fcff;
  color: #333333;
}
header {
  background-color: #2f6f9f;
  color: white;
  padding: 24px;
  text-align: center;
}
main {
  max-width: 800px;
  margin: 24px auto;
  padding: 0 16px;
}
.card {
  background-color: rgb(120, 255, 120);
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.main-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 12px;
  object-fit: cover;
}
.main2-image {
  flex: 1;
  width: 50%;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 12px;
  object-fit: cover;
}
.clock-text {
  font-size: 32px;
  font-weight: bold;
  margin: 8px 0 16px;
  color: #000000;
}
a {
  color: #1b5f9e;
  text-decoration: underline;
}
button {
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ccffcc;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s;
}
button:hover {
  background-color: #9999ff;
}
footer {
  text-align: center;
  padding: 16px;
  color: #000000;
  font-size: 14px;
}